/* 1 - Background Viewport (ligne 6-9)
   2 - Contenu (ligne 10-24)
   3 - Gallerie d'images (ligne 25-41)
   4 - Image 3d (ligne 42-63)
*/
/* 1- Background Viewport */
header .landingSec {
  background-image: url(../../image/imageMission/apollo11/backgroundapollo11.webp);
}
/*2 - Contenu */
section .container .row .visuelle img {
  width: 100%;
}
section .container .row .contenuGauche {
  padding-right: 5%;
}
section .container .row .contenuDroite {
  padding-left: 5%;
}
@media screen and (max-width: 767px) {
  .contenuDroite {
    padding-top: 6%;
  }
}
/* 3 - Gallerie d'images */
.image-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.435);
  /* Ombre */
  border: 1px solid white;
}
.image-container img:hover {
  transform: scale(1.01);
  border: 1px solid #5c85ff;
  transition: 0.1s;
}
/* Espace entre les images */
.spacing-bottom {
  margin-bottom: 25px;
}
/* 4 - Image 3d */
.vue3d {
  text-align: center;
}
.vue3d .texteVue3d {
  font-size: 13px;
  font-weight: normal;
  margin: 5px;
  color: #ffffffe5;
}
.vue3d a {
  font-weight: bold;
  color: #5c85ff;
  text-decoration: none;
}
.vue3d .container3d iframe {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.435);
  /* Ombre */
  border: 1px solid white;
  width: 100%;
  height: 40rem;
}
